.eas-extensions-config-tab .admin__page-nav-title {
    background-image: url(../images/logo.png) !important;
    background-repeat: no-repeat !important;
    padding-left: 55px;
    background-size: 50px !important;
}
