<?xml version="1.0"?>
<!--
/**
 * Copyright © EAS Project Oy. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <configuration>
            <general>
                <enable>0</enable>
                <tax_name>Tax</tax_name>
            </general>
            <advanced>
                <debug>1</debug>
            </advanced>
            <credentials>
                <api_url>https://internal1.easproject.com/api</api_url>
            </credentials>
            <attributes>
                <hscode>eas_hscode</hscode>
                <reduced_vat>eas_reduced_vat</reduced_vat>
                <warehouse_country>eas_warehouse_country</warehouse_country>
                <act_as_disclosed_agent>eas_act_as_disclosed_agent</act_as_disclosed_agent>
                <seller_registration_country>eas_seller_registration_country</seller_registration_country>
            </attributes>
            <msi>
                <enable>0</enable>
            </msi>
        </configuration>
    </default>
</config>
