<?xml version="1.0"?>
<!--
/**
 * Copyright © EAS Project Oy. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="beforeIsEmailAvailable"
                type="Eas\Eucompliance\Plugin\SaveGuestEmail"
                sortOrder="1"/>
    </type>

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="beforeSave"
                type="Eas\Eucompliance\Plugin\SaveGuestCartData"
                sortOrder="1"/>
    </type>


    <type name="Magento\Quote\Model\Cart\CartTotalRepository">
        <plugin name="afterGet"
                type="Eas\Eucompliance\Plugin\CartTotal"
                sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Model\OrderRepository">
        <plugin name="confirmOrder"
                type="Eas\Eucompliance\Plugin\OrderRepository" sortOrder="100"/>
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Shipping">
        <plugin name="setShippingPrice"
                type="Eas\Eucompliance\Plugin\Tax\Shipping"
                sortOrder="1"/>
    </type>
</config>
