<?xml version="1.0"?>
<!--
/**
 * Copyright © EAS Project Oy. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="beforeIsEmailAvailable"
                type="Eas\Eucompliance\Plugin\SaveGuestEmail"
                sortOrder="1"/>
    </type>

    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="eas_eucompliance_sales_quote_item_order_item"
                type="Eas\Eucompliance\Plugin\SetOrderItemValue"/>
    </type>

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="beforeSave"
                type="Eas\Eucompliance\Plugin\SaveGuestCartData"
                sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Model\OrderRepository">
        <plugin name="confirmOrder"
                type="Eas\Eucompliance\Plugin\OrderRepository" sortOrder="100"/>
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\Shipping">
        <plugin name="setShippingPrice"
                type="Eas\Eucompliance\Plugin\Tax\Shipping"
                sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="notify_order-items_warehouse-location"
                type="Eas\Eucompliance\Plugin\OrderManagement"
                sortOrder="1"/>
    </type>
    <preference for="Magento\InventoryShippingAdminUi\Ui\DataProvider\SourceSelectionDataProvider"
                type="Eas\Eucompliance\Ui\DataProvider\SourceSelectionDataProvider"/>
    <type name="\Magento\Quote\Model\Quote\Item\Repository">
        <plugin name="setExtensionAttributes"
                type="Eas\Eucompliance\Plugin\Item"
                sortOrder="1"/>
    </type>
    <type name="Magento\Quote\Model\ResourceModel\Quote\Item">
        <plugin name="saveExtensionAttributesValue"
                type="Eas\Eucompliance\Plugin\Quote\Item"
                sortOrder="1"/>
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="setExtensionAttributes"
                type="Eas\Eucompliance\Plugin\Quote\Quote"
                sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="showEasColumns"
                type="Eas\Eucompliance\Plugin\DefaultRenderer"
                sortOrder="1"/>
    </type>
</config>
