<?xml version="1.0" ?>
<!--
/**
 * Copyright © EAS Project Oy. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="easproject_eucompliance_sales_order_save_after" instance="Easproject\Eucompliance\Observer\Sales\OrderSaveAfter"/>
    </event>
    <event name="controller_action_postdispatch_checkout_cart_index">
        <observer name="check_if_multi_shipping_enabled_controller_action_postdispatch_checkout_cart_index"
                  instance="Easproject\Eucompliance\Observer\CheckIfMultiShippingEnabled" />
    </event>
</config>
