<?xml version="1.0"?>
<!--
/**
 * Copyright © EAS Project Oy. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_address_collect_totals_after">
        <observer name="sales_quote_recalculate" instance="\Eas\Eucompliance\Observer\Recalculate"/>
    </event>
</config>
