<?xml version="1.0"?>
<!--
/**
 * Copyright © EAS Project Oy. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="eas" frontName="eas">
            <module name="Easproject_Eucompliance"/>
        </route>
    </router>
</config>
