<?xml version="1.0"?>
<!--
/**
 * Copyright © EAS Project Oy. All rights reserved.
 * PHP version 8
 *
 * @category Module
 * @package  Easproject_Eucompliance
 * @author   EAS Project <magento@easproject.org>
 * @license  https://github.com/EAS-project-oy/eascompliance/ General License
 * @link     https://github.com/EAS-project-oy/eascompliance
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="eas" class="eas-extensions-config-tab" translate="label" sortOrder="120">
            <label>EAS PROJECT EXTENSIONS</label>
        </tab>

        <section id="configuration" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>EAS EU Compliance</label>
            <tab>eas</tab>
            <resource>Easproject_Eucompliance::default</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>

                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable this solution</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>configuration/general/enable</config_path>
                </field>

                <field id="post_shipping" translate="label" type="multiselect" sortOrder="20" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Shipping methods by post</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                </field>

                <field id="msi_enable" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable MSI</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>configuration/msi/enable</config_path>
                </field>

                <field id="msi_algorithm" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Msi algorithm used for stock selection</label>
                    <frontend_model>Easproject\Eucompliance\Block\System\Config\Form\Field\Msi</frontend_model>
                    <source_model>Easproject\Eucompliance\Model\Config\Msi</source_model>
                    <config_path>configuration/msi/msi_algorithm</config_path>
                    <depends>
                        <field id="msi_enable">1</field>
                    </depends>
                </field>

                <field id="tax_name" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Eas tax name</label>
                    <config_path>configuration/general/tax_name</config_path>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="standard_solution" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Standard Solution</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>configuration/general/standard_solution</config_path>
                    <comment><![CDATA[This integration type is to be used predominantly by Non-EU
                    electronic merchants that use only IOSS special VAT scheme. Do not use this option if you supply goods from
                    within EU territory. VAT will be calculated by Magento 2 tax engine.
                    ]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="credentials" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Credentials</label>

                <field id="api_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="0">
                    <label>EAS API Base URL</label>
                    <comment><![CDATA[Get your credentials in <a href="https://dashboard.easproject.com/"
                    title="Api Key and API Secret" target="_blank" style="color:#2b7dbd">Dashboard</a>
                    if you are registered or register <a href="https://registration.easproject.com/"
                    target="_blank" style="color:#2b7dbd">here</a>
                    ]]></comment>
                    <config_path>configuration/credentials/api_url</config_path>
                </field>

                <field id="api_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="0">
                    <label>EAS api key</label>
                </field>

                <field id="secret_api_key" translate="label" type="obscure" sortOrder="30" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1" canRestore="0">
                    <label>EAS secret api key</label>
                    <backend_model>Easproject\Eucompliance\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>

            <group id="attributes" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Attributes</label>

                <field id="hscode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <source_model>Easproject\Eucompliance\Model\Source\Attributes</source_model>
                    <label>HSCODE</label>
                    <comment>Use eas_hscode, if you don't have one</comment>
                </field>

                <field id="reduced_vat" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Reduced vat</label>
                    <source_model>Easproject\Eucompliance\Model\Source\Attributes</source_model>
                    <comment>Use eas_reduced_vat, if you don't have one</comment>
                </field>

                <field id="seller_registration_country" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Seller registration</label>
                    <source_model>Easproject\Eucompliance\Model\Source\Attributes</source_model>
                    <comment>Use eas_seller_registration_country, if you don't have one</comment>
                </field>

                <field id="act_as_disclosed_agent" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Act as disclosed agent</label>
                    <source_model>Easproject\Eucompliance\Model\Source\Attributes</source_model>
                    <comment>Use eas_act_as_disclosed_agent, if you don't have one</comment>
                </field>

                <field id="warehouse_country" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Warehouse country</label>
                    <source_model>Easproject\Eucompliance\Model\Source\Attributes</source_model>
                    <comment>Use eas_warehouse_country, if you don't have one</comment>
                </field>

            </group>

            <group id="advanced" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Advanced</label>
                <field id="debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Debug mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>configuration/advanced/debug</config_path>
                </field>
                <field id="default_email" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Default email for request, if customer do not provided</label>
                    <config_path>configuration/advanced/default_email</config_path>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

        </section>

    </system>
</config>
